bcrypt==4.2.1
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
click==8.1.7
Flask==3.1.0
Flask-Bcrypt
Flask-Login==0.6.3
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
Pillow==9.2.0
pycparser==2.22
six==1.17.0
SQLAlchemy
Werkzeug==3.1.3